.bookList{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.userbooksection{
    width: 23%;
    margin-right: 20px;
    margin-bottom: 20px; 
}

.userbooksection img{
    margin-bottom: 20px;
    cursor: pointer;
}

.ownedbooktitle{
    font-size: 24px;
    font-weight: bold;
}

.ownedbookauthor{
    color: rgba(146, 146, 146, 1);
}